* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  background-color: #050505;
  color: #EDEDED;
}

::selection {
  background-color: #DE9B35;
  color: #000000;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0A0A0A;
}

::-webkit-scrollbar-thumb {
  background: #1F1F1F;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #DE9B35;
}